
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  /* height: 500px; */
  text-align:center;
  align-items:center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Merriweather', serif;
}

#logo {
  width: 80px;
  margin-top: 100px;
}

.login_link {
  color:rgb(48, 78, 177);
}

.login_menu>a:focus,
.login_menu>a:hover {
  color: #6EBF8B;
  background-color: transparent
}
.cat_list a {
  color: #838783;
}

.cat_list a:focus {
  color:red;
}

.cat_list a:hover {
  color:red;
}

hr {
  color:rgb(7, 0, 1);
}

#footerid p{
  color:rgb(8, 0, 0);
  align-content: center;
  text-align:center;
}